<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid"><a href="">
        <img src="../../../assets/pictures/logo.png"  alt="Logo" style="height: 40px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about-me">About me</a>
              </li>
             
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="tutorials">Tutorials</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Applications
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="calculator">Calculator</a></li>
              <li><a class="dropdown-item" href="weather">Weather</a></li>
              <li><a class="dropdown-item" href="jokes">Jokes</a></li>
            </ul>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container">
  <br>
    <div class="row mb-2">
        <div class="col-8">
            <h2>About me</h2>Hello and welcome!

            I'm Alexander Luis Villaflores, born on February 11, 2014, and known as the world's youngest
            programmer.<br><br>

            Programming isn't just a profession for me; it's a passion that I discovered at a very early age.

            I specialize in Angular programming and have already begun leaving my mark in the world of technology.<br><br>

            Currently, I'm proudly serving as a key member of the dynamic team at ASV Business Solutions, where we've


            developed Cirquolus—an ERP system that's transforming businesses across the Philippines.

            In my role, I focus on the payroll module of Cirquolus. My mission? To ensure that every
            employee is paid properly and on time. This is a responsibility I take very seriously,
            because I believe that everyone deserves fair and timely compensation for their hard work.<br><br>

            I invite you to explore my site to learn more about my projects and the exciting world of programming.
            Let's navigate this innovative and fascinating tech landscape together!<br>
<br>


</div>
<div class="col-md-4 mb-5">
    <img src="../assets/pictures/alex.jpg" style="width: 100%;" alt="Image of Alex">
</div>
</div>