<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid"><a href="">
        <img src="../../../assets/pictures/logo.png"  alt="Logo" style="height: 40px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about-me">About me</a>
              </li>
             
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="tutorials">Tutorials</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Applications
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="calculator">Calculator</a></li>
              <li><a class="dropdown-item" href="weather">Weather</a></li>
              <li><a class="dropdown-item" href="jokes">Jokes</a></li>
            </ul>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<div class="container">
  

  <div class="row">
    <div class="col-md-5 mt-3 card"> <div class="video-container mt-3">
        <iframe width="640" height="480" src="https://www.youtube.com/embed/5a81Kxj0kww" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    
    
    
        <div class="card-body" style="text-align: center;"><h3>You learn about HTML here.</h3></div>
    </div>
    <div class="col-md-2"></div>



    <div class="col-md-5 mt-3 card"><div class="video-container mt-3">
        <iframe width="640" height="480" src="https://www.youtube.com/embed/f-9ThPRCvN0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>

       <div class="card-body"style="text-align: center;"><h3>You can learn about CSS here.</h3></div> 
    </div>


    </div>




    <div class="row">
        <div class="col-md-5 card mt-3 "><div class="video-container mt-3">
            <iframe width="640" height="480" src="https://www.youtube.com/embed/f-9ThPRCvN0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

            <div class="card-body" style="text-align: center;"><h3>You can learn about JavaScript here.</h3></div>
        </div>


<div class="col-md-2"></div>
<div class="col-md-5 card mt-3 "><div class="video-container mt-3">
<iframe width="640" height="480" src="https://www.youtube.com/embed/f-9ThPRCvN0" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</div>

<div class="card-body" style="text-align: center;"><h3>You can learn about Angular here.</h3></div>
</div>


    </div>
    
<div class="row">
<div class="col-md-5 card mt-3"><div class="video-container mt-3">
<iframe width="640" height="480" src="https://www.youtube.com/embed/f-9ThPRCvN0" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</div>


<div class="card-body" style="text-align: center;"><h3>You can learn about Bootstrap here.</h3></div>
</div>

















</div>