<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid"><a href="">
        <img src="../../../assets/pictures/logo.png"  alt="Logo" style="height: 40px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about-me">About me</a>
              </li>
             
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="tutorials">Tutorials</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Applications
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="calculator">Calculator</a></li>
              <li><a class="dropdown-item" href="weather">Weather</a></li>
              <li><a class="dropdown-item" href="jokes">Jokes</a></li>
            </ul>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container m-0">

    <div class="row">
    
    
      <div class="col-12" style="text-align: center;"><h1>Calculator App</h1><br>

    <div class="row m-0">
    
    <div class="col-12">
    


        <div class="row">
            <div class="col-12 bg-secondary text-light" style="width: 90%; height: 80px; margin-left: 5%; margin-top: 50px;">{{lava}}</div>
        </div> 
    
    
        <div class="row vanny">
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(1)">1</button></div>
    
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(2)">2</button></div>
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(3)">3</button></div>
            <div class="col-3"><button type="button" class="btn btn-success button-desing" (click)="setOperation('+')">+</button></div>
            </div>
            <div class="row vanny">
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(4)">4</button></div>
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(5)">5</button></div>
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(6)">6</button></div>
            <div class="col-3"><button type="button" class="btn btn-success button-desing" (click)="setOperation('-')">-</button></div>
            </div>
            <div class="row vanny">
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(7)">7</button></div>
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(8)">8</button></div>
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(9)">9</button></div>
            <div class="col-3"><button type="button" class="btn btn-success button-desing" (click)="setOperation('*')">*</button></div>
            </div>
            <div class="row vanny">
            <div class="col-3"><button type="button"  (click)="clearInput()" class="btn btn-danger button-desing">C</button></div>
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="buttonClick(0)">0</button></div>
            <div class="col-3"><button type="button" class="btn btn-secondary button-desing" (click)="equals()">=</button></div>
            <div class="col-3"><button type="button" class="btn btn-success button-desing" (click)="setOperation('/')">/</button></div>
            </div>
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>